# This file is an example config file for cartesian style printers.
# One may copy and edit this file to configure a new cartesian
# printer.

# DO NOT COPY THIS FILE WITHOUT CAREFULLY READING AND UPDATING IT
# FIRST. Incorrectly configured parameters may cause damage.

# See docs/Config_Reference.md for a description of parameters.

[virtual_sdcard]
path: ~/gcode_files

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

[stepper_x]
step_pin: P2.2 #ok
dir_pin: P2.6 #ok
enable_pin: !P2.1 #ok
microsteps: 16
rotation_distance: 40
endstop_pin: !P1.29
homing_retract_dist: 0
position_endstop: 0
position_max: 210
homing_speed: 100
homing_retract_dist: 5
second_homing_speed:1

[stepper_y]
step_pin: P0.19 #ok
dir_pin: !P0.20 #ok
enable_pin: !P2.8 #ok
microsteps: 16
rotation_distance: 40
endstop_pin: !P1.28
homing_retract_dist: 0
position_endstop: 0
position_max: 235
homing_speed: 100
homing_retract_dist: 5
second_homing_speed:1

[stepper_z]
step_pin: P0.22 #ok
dir_pin: P2.11 #ok
enable_pin: !P0.21 #ok
microsteps: 16
rotation_distance: 8
#endstop_pin: P1.25  # P1.24 for Z-max
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0
position_max: 200
position_min: -5
homing_speed: 10
second_homing_speed: 2
homing_retract_dist: 2

[stepper_z1]
step_pin: P1.15
dir_pin: P1.14
enable_pin: !P1.16
microsteps: 16
rotation_distance: 8


[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
microsteps: 16
rotation_distance: 22.6863385
max_extrude_only_distance: 100
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.24
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 260

#[extruder1]
#step_pin: P1.15
#dir_pin: P1.14
#enable_pin: !P1.16
#heater_pin: P2.4
#sensor_pin: P0.23
#...

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_04A0FF0CA8943BAF75BD685CC12000F5-if00

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 1600
max_z_velocity: 25
max_z_accel: 30

[input_shaper]
shaper_freq_x: 35.2
shaper_type_x: mzv
shaper_freq_y: 24.2
shaper_type_y: mzv

[fan]
pin: P2.3

[display]
lcd_type: hd44780
rs_pin: EXP1_4
e_pin: EXP1_3
d4_pin: EXP1_5
d5_pin: EXP1_6
d6_pin: EXP1_7
d7_pin: EXP1_8
encoder_pins: ^EXP2_3, ^EXP2_5
click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8

[output_pin beeper]
pin: EXP1_1


########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: P1.10
run_current: 0.800
stealthchop_threshold: 150
#diag_pin: ^P1.29
driver_SGTHRS: 167
#
[tmc2209 stepper_y]
uart_pin: P1.9
run_current: 0.800
stealthchop_threshold: 150
#diag_pin: ^P1.28
driver_SGTHRS: 130
#
[tmc2209 stepper_z]
uart_pin: P1.8
run_current: 0.650
stealthchop_threshold: 30
#
[tmc2209 extruder]
uart_pin: P1.4
run_current: 0.800
stealthchop_threshold: 999999
#
[tmc2209 stepper_z1]
uart_pin: P1.1
run_current: 0.800
stealthchop_threshold: 30


[bltouch]
sensor_pin: ^P0.10  # Pull-up (^ symbol) needed in open drain mode
control_pin: P2.0
# Some BLTouch V3 and many clones apparently require this, though mine didnt:
pin_up_reports_not_triggered: True
pin_up_touch_mode_reports_triggered: True
#probe_with_touch_mode: True

#flavor: genuine_smart_3.1
x_offset: 48
y_offset: 15
z_offset: 1.4
pin_move_time: 1
samples_tolerance: 0.100
samples_tolerance_retries: 3
samples: 3


[skew_correction]

[bed_mesh]
speed: 250
horizontal_move_z: 8
mesh_min: 50,35
mesh_max: 200,225
probe_count: 5,5
fade_start: 1.0
mesh_pps: 2,2

[safe_z_home]
home_xy_position: 105,117.5
speed: 80.0
z_hop: 10.0
z_hop_speed: 10.0


[gcode_macro G29]
gcode:
    G28
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE save=default
    SAVE_CONFIG

[pause_resume]

[gcode_macro M600]
gcode:
	PAUSE
	CHANGE_FILAMENT_START

[gcode_macro CHANGE_FILAMENT_START]
gcode:
	SAVE_GCODE_STATE NAME=M600_state
	G91
	G1 E-.8 F2700
	G1 Z10
	G90
	G1 X50 Y0 F3000
	G91
	G1 E-5 F300

[gcode_macro CHANGE_FILAMENT_END]
gcode:
	G91
	RESTORE_GCODE_STATE NAME=M600_state
	RESUME
	

[respond]
default_type: echo

[z_tilt]
z_positions:
    10,135
    185,135
points:
    10,135
    185,135
speed: 100
horizontal_move_z: 5
retries: 10
retry_tolerance: 0.01


[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"



[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    105, 117.5, 20  # an example


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.438938, 0.453105, 0.437272, 0.416438, 0.399772
#*# 	0.184772, 0.195605, 0.179772, 0.155605, 0.137272
#*# 	0.047272, 0.053938, 0.036438, 0.012272, 0.000605
#*# 	-0.064395, -0.038562, -0.048562, -0.064395, -0.059395
#*# 	-0.205228, -0.169395, -0.152728, -0.150228, -0.132728
#*# tension = 0.2
#*# min_x = 50.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 35.0
#*# x_count = 5
#*# max_y = 225.0
#*# mesh_x_pps = 2
#*# max_x = 200.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 37.637
#*# pid_ki = 1.818
#*# pid_kd = 194.774
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.911
#*# pid_ki = 1.277
#*# pid_kd = 1069.865
#*#
#*# [skew_correction SKEW_CORRECTION_PROFILE]
#*# xy_skew = -0.00585828453788
#*# xz_skew = 0.0
#*# yz_skew = 0.0
